@use "../mixins";
/*! Footer started */
.site-footer {
  padding: 48px 0;
  background-color: #002529;
  margin: 0 auto;
}
.wrapper {
  display: flex;
  flex-wrap: wrap;
}
.end__list {
  display: flex;
}
.wrapper__star {
  margin-right: 125px;
}
.wrapper__image  {
  margin-bottom: 25px;
}
.wrapper__bottom-link {
  display: inline-block;
  color: #fff;
  font-size: 18px;
  line-height: 28px;
  text-decoration: none;
}
.wrapper__bottom-link:not(:last-child) {
  margin-right: 40px;
}

.wrapper__list {
  @include mixins.list-unstyle;

}
.wrapper__center-link {
  color: #869494;
  font-size: 15px;
  line-height: 25px;
  text-decoration: none;
}
.end {
  margin-left: auto;
}
.end__list {
  @include mixins.list-unstyle;
  margin-bottom: 51px;
  margin-left: 145px;

}
.end__item:not(:last-child) {
   margin-right: 16px;
}
.end__text {
  margin-top: 0;
  margin-bottom: 0;
  color: #869494;
  font-size: 15px;
  line-height: 25px;
}
@media only screen and (max-width: 768px) {
  .wrapper__image {
    width: 96px;
    height: 24px;
    margin-bottom: 53px;
  }
.wrapper__center {
  margin-left: auto;
}
.end {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 800px;
  width: 100%;
  margin: 0;
  margin-top: 32px;
}
.end__list {
  margin: 0;
}
.wrapper__center-link {
  display: block;
  text-align: end;
}
.wrapper__bottom-link {
  font-size: 15;
  line-height: 25px;
}
}

@media only screen and (max-width: 500px) {
.wrapper {
  flex-direction: column;
}
.wrapper__star {
  margin: 0 auto;
}
 .wrapper__image {
  margin: 0 auto;
  margin-bottom: 24px;
  // text-align: center;
 }
 .wrapper__center-link {
  text-align: center;
 }
 .wrapper__center {
  margin: 0 auto;

 }
 .end {
  flex-direction: column;
  margin-top: 40px;
 }
 .wrapper__star {
  margin-bottom: 24px;
 }
 .end__list {
  margin-bottom: 16px;
 }
}